<div class="view_container">
  <h5>Subimitted Images List</h5>
  <table class="index_table">
    <thead>
    <tr> 
      <th>ID</th>
      <th>Image Name</th> 
    </tr> 
    </thead>
    <tbody>
      <% @image_list.each do |image|%>
        <tr> 
          <td>
            <%= link_to dashboard_show_selected_image_path(id: image.id), remote: true do %>
              <%= image.id%>
            <% end %>
          </td> 
          <td>
            <%= link_to dashboard_show_selected_image_path(id: image.id), remote: true do %>
              <%= image.image_name%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<style>

.view_container{
  margin: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>